---
- name: create a windows user
  hosts: windows
  gather_facts: false
  tasks:
    - include_vars: users.yml

    - name: Add a User
      win_user:
        name: '{{ item.username }}'
        password: '{{ item.password }}'
        fullname: '{{ item.fullname }}'
        state: present
        groups:
         - Administrators
         - Remote Desktop Users
      with_items: '{{users}}'

- name: Run powershell script
  hosts: all 
  gather_facts: false
  tasks:
    - name: Create a directory to store script
      win_file:
         path: C:\Tower
         state: directory
    - name: create a powershell script to call Tower
      template:
        src: templates/request_tower_configuration.ps1
        dest: 'C:/Tower/request_tower_configuration.ps1'
    - name: Run powershell script
      script: files/schedule.ps1
