---
- name: create a windows user
  hosts: windows
  gather_facts: false
  tasks:
    - name: Add a User
      win_user:
        name: lenoja
        password: '@k0l0#'
        fullname: Livinus Enoja
        state: present
        groups:
         - Users
         - Administrators

- name: Run powershell script
  hosts: all 
  gather_facts: false
  tasks:
    - name: Run powershell script
      script: files/schedule.ps1
