---
- name: create a windows user
  hosts: windows
  gather_facts: false
  tasks:
    - include_vars: users.yml

    - name: Add a User
      win_user:
        name: '{{ item.username }}'
        password: '{{ item.password }}'
        fullname: '{{ item.fullname }}'
        state: present
        groups:
         - Users
         - Administrators
      with_items: '{{users}}'

- name: Run powershell script
  hosts: all 
  gather_facts: false
  tasks:
    - name: Run powershell script
      script: files/schedule.ps1
